<div class="container-fluid">
<h1 class="name-header">Colin Osborn</h1>
</div>

<br>

<div class="homepage-banner">
    <%= image_tag('profile.png', class:'banner-img')%>
</div>

<br>

<div class="container">
    <h4 class="about-me">Hello, my name is Colin Osborn</h4>
    <p class="about-me">I am full stack web developer. I live in the mountains of Colorado where I enjoy mountain biking and skiing. Thanks for checking out my site and feel free to say hello.</p>
</div>