<div class="container-fluid">
<h1 class="name-header">Colin Osborn</h1>
</div>

<br>

<div class="homepage-banner">
    <%= image_tag('profile.png', class:'banner-img')%>
</div>

<br>

<div class="container">
    <h4 class="about-me">Hello</h4>
    <p class="about-me text-center">I'm a software engineer and web developer in Carbondale, CO. I'm currently a freelance developer. I live in the mountains of Colorado where I enjoy mountain biking and skiing. I really enjoy working with ruby, ruby on rails, javascript and learning new technologies. Thanks for checking out my site and feel free to say hello.</p>
</div>