<div class="container-fluid">
<h1 class="name-header">Colin Osborn</h1>
</div>


<div class="homepage-banner">
<img src="https://images.unsplash.com/photo-1583033736357-14694a4a7f8d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1362&q=80" class="banner-img">
</div>