<div class="container">
    <h1 class="name-header">Projects</h1>
    <br>
    <div class="projects">
    <%= image_tag('/projects/aloha-screenshot.png', class:'banner-img')%>
    <h5>Tools Used: WordPress, PHP, CSS, bootstrap</h5>
    <p>First WordPress custom project allowing the bikeshop to add/edit content with all the tools from Wordpress but with a custom theme.</p>
    </div>
</div>
</div>