<div class="container">
    <h1 class="name-header">Projects</h1>
    <br>
    <div class="projects">
    <a href="http://alohamountaincyclery.herokuapp.com/" target=”_blank”><%= image_tag('projects/aloharailsbikes.png', class:'projects-img') %></a>
    <br>
    <h4>Tools Used: Ruby on Rails, Sass, JavaScript, bootstrap, heroku</h4>
    <p>First custom CMS utilizing rails allowing the bikeshop to manage content and demo and rental bike inventory directly on the site</p>
    <br>
    <a href="https://backtobalancedoc.com/" target="_blank"><%= image_tag('projects/backtobalance.png', class:'projects-img')%></a>
    <br>
    <h4>Tools Used: WordPress, PHP, CSS, JQuery</h4>
    <p>Wordpress site for basic info display with forms, maps.</p>
    <a href="http://rockandrollroaringfork.com/.com/" target="_blank"><%= image_tag('projects/rocknroll.png', class:'projects-img')%></a>
    <br>
    <h4>Tools Used: WordPress, PHP, CSS, JQuery</h4>
    <p>Wordpress site for basic info display with forms, maps.</p>
    </div>
    </div>
</div>