<div class="container">
    <h1 class="name-header">Projects</h1>
    <br>
    <div class="projects">
    <a href="https://alohamountaincyclery.com/" target=”_blank”><%= image_tag('projects/aloha-screenshot.png', class:'projects-img')%></a>
    <h5>Tools Used: WordPress, PHP, CSS, bootstrap</h5>
    <p>First WordPress custom project allowing the bikeshop to add/edit content with all the tools from Wordpress but with a custom theme.</p>
    <br>
    <a href="https://backtobalancedoc.com/" target="_blank"><%= image_tag('projects/backtobalance.png', class:'projects-img')%></a>
    <h5>Tools Used: WordPress, PHP, CSS, JQuery</h5>
    <p>Wordpress site for basic info display with forms, maps.</p>
    </div>
    </div>
</div>