<div class="container-fluid">
<h1>About</h1>
<br>
<h2 class="name-header">Colin Osborn</h2>
<picture>
    <img src='https://media-exp1.licdn.com/dms/image/C4E03AQH4Dcqa60KvvA/profile-displayphoto-shrink_200_200/0?e=1590624000&v=beta&t=Qu0yXz54MvYszLZZKS7h5gGsJjEhKeENtHHqBXxHmIs' alt="colin-profile" class="about">
</picture>
<br>
<h3 class="name-header">Web Developer</h3>
</div>

<div class="container about-me">
    <h4>Hello, my name is Colin Osborn</h4>
    <p>I am full stack web developer. I live in the mountains of Colorado where I enjoy mountain biking and skiing.</p>
</div>
