<div class="container-fluid">

<br>
<h2 class="name-header">About Me</h2>
<div class="about-me">
    <%= image_tag('about-ski.JPG', class:"about")%>
</div>
<br>
<h3 class="name-header">Web Developer</h3>
<br>
</div>

<div class="container">
    <h4 class="about-me">Hello, my name is Colin Osborn</h4>
    <p class="about-me">I am full stack web developer. I live in the mountains of Colorado where I enjoy mountain biking and skiing. In my former life, I was a professional XC mountain bike racer. In 2016 I attended Turing School of Software and Design to purue my passion for computer science and writing code. That same year I began work at Roaring Fork Internet Users Group(rof.net) working as a Web Developer and IT Technician.
    There I not only built and maintained sites, but installed wireless internet networks, offered IT support and email server management. In the fall of 2017 I started work at Bluetent Marketing building and maitaining web sites as a Web Developer. There I built upon my backend skills and also become a more well rounded, full stack developer. During that time I also have worked on freelance and sideprojects with many different tools
    and technologies. 
    </p>
</div>
