<div class="container-fluid">

<br>
<h2 class="name-header">About Me</h2>
<div class="about-me">
    <%= image_tag('about-ski.JPG', class:"about")%>
</div>
<br>
<h3 class="name-header">Web Developer</h3>
<br>
</div>

<div class="container">
    <h4 class="about-me">Hello, my name is Colin Osborn</h4>
    <p class="about-me">I am full stack web developer. I live in the mountains of Colorado where I enjoy mountain biking and skiing. In my former life, I was a professional XC mountain bike racer. In 2016 I attended Turing School of Software and Design to purue my passion for computer science and writing code.
    </p>
</div>
