<div class="container-fluid">
<h1>About</h1>
<br>
<h2 class="name-header">Colin Osborn</h2>
<picture class="about-me">
    <img src='https://lh3.googleusercontent.com/-SCPCJuD-9Ek/Wtqh5WBG6EI/AAAAAAAAHcA/eXylKPJL3MALpHCAM1IG9-sb3Vd3udRaACEwYBhgL/w280-h280-p/1187306_10151898735237065_1314364430_n.jpg' alt="colin-profile" class="about">
</picture>
<br>
<h3 class="name-header">Web Developer</h3>
<br>
</div>

<div class="container">
    <h4 class="about-me">Hello, my name is Colin Osborn</h4>
    <p class="about-me">I am full stack web developer. I live in the mountains of Colorado where I enjoy mountain biking and skiing.</p>
</div>
