<div class="container-fluid">
<h2 class="name-header">Contact Me</h2>
<br>
<div class="about-me">
    <%= image_tag('IMG_2740.JPG', class:"about") %>
</div>
<br>

<h3 class="about-me">Get in touch</h3>
<p class="about-me">If you wanna get in touch, talk to me about a project or job or even just say hello fill out that form below or send me an <a href="mailto:colin.osborn@gmail.com">&nbsp;email</a>.</p>
<br>
</div>
