<div class="container-fluid">
<h2 class="name-header">Contact Me</h2>
<br>

<h3>Get in touch</h3>
<p>If you wanna get in touch, talk to me about a project or job or even just say hello fill out that form below or send me an email here.</p>
<br>
<h5>Let's get social</h5>
</div>
