@import "bootstrap";
//Google font 
@import url('https://fonts.googleapis.com/css2?family=Reenie+Beanie&display=swap');

* {
  font-family: 'Reenie Beanie', cursive;
}

.name-header {
  text-align: center;
}

.about-me {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: x-large;
}

.about {
  display: block;
  width: 100%;
  max-width: 200px;
  height: auto;
  margin: auto;
  border-radius: 35px;
}

.contact {
  font-size: x-large;
}

.homepage-banner {
  display: flex;
  align-items: center;
  justify-content: center;
}

.banner-img {
  display: block;
  width: 100%;
  max-width: 200px; /* actual img size */
  height: auto;
  margin: auto;
  border-radius: 15px;
}

.projects {
  text-align: center;
}

.projects-img {
  display: block;
  width: 100%;
  max-width: 300px; /* actual img size */
  height: auto;
  margin: auto;
  border-radius: 35px;
}

@media only screen and (max-width: 700px) {
  .banner-img {
    max-width: 300px;
  }
  .about {
    max-width: 300px;
  }
}

/* footer styles */

.social-icons-img {
  max-width: 50px;
  max-height: 50px;
  border-radius: 30px;
}

.social-link {
  display: flex;
  align-items: stretch; /* Default */
  justify-content: space-between;
  width: 100%;
  margin: 0;
  padding: 0;
}

li {
  display: block;
  justify-content: center;
  list-style-type: none;
}

#social-container {
  max-width: 300px;
  padding: 20px 0 20px;
}

/* Winter mode & snowflakes creation */

/* .snow-flake {
  position: absolute;  
  color: white; 
  &:after {
    content: "\2744"; 
  }
}

.snowflake:nth-child(1) {
  top: -20%;
}

.snowflake:nth-child(2) {
  top: -40%;
}

.snowflake:nth-child(3) {
  top: -33%;
} */

/* customizable snowflake styling */
.snowflake {
  color: #fff;
  font-size: 1em;
  font-family: Arial, sans-serif;
  text-shadow: 0 0 5px #000;
}

/* Header/navbar styles */
.navbar.navbar-1 .navbar-toggler-icon {
  background-image: url('https://mdbootstrap.com/img/svg/hamburger6.svg?color=000');
}

.mr-auto, .mx-auto {
  text-align: center !important;
  font-size: large !important;
}

p.source {
  display: flex;
  align-items: center;
  justify-content: center;
}