.name-header {
    text-align: center;
}

.about-me {
    display: flex;
    align-items: center;
    justify-content: center;
}

.about {
    display: block;
    width: 100%;
    max-width: 200px;
    height: auto;
    margin: auto;
    border-radius: 35px;
}


.homepage-banner {
    display: flex;
    align-items: center;
    justify-content: center;
}

.banner-img {
    display: block;
    width: 100%;
    max-width: 200px; /* actual img size */
    height: auto;
    margin: auto;
    border-radius: 35px;

}

@media only screen and (max-width: 1000px) {
    .banner-img {
        max-width: 300px;
    }
    .about {
        max-width: 300px;
    }
}