.name-header {
    text-align: center;
}

.about-me {
    display: flex;
    align-items: center;
    justify-content: center;
}

.about {
    display: block;
    width: 100%;
    max-width: 200px; /*actual image width */
    height: auto;
    margin: auto;
}

.homepage-banner{
    display: flex;
    align-items: center;
    justify-content: center;
}

.banner-img {
    display: block;
    width: 100%;
    max-width: 900px;
    height: auto;
    margin: auto;
}