<div class="container" id="social-container">
            <h5 class="about-me">Let's get social</h5>
        <ul class="social-link">
            <li><a href="https://github.com/ColinOsborn" target=”_blank”><%= image_tag('social_icons/linkedin.svg', class:'social-icons-img') %></a></li>
            <li><a href="https://twitter.com/colinosborn" target=”_blank”><%= image_tag('social_icons/twitter.svg', class:'social-icons-img') %></a></li>
            <li><a href="https://www.linkedin.com/in/colinosborn/" target=”_blank”><%= image_tag('social_icons/github-image.svg', class:'social-icons-img') %></a></li>
        </ul>           
</div>


