<div class="nav navbar-nav navbar-right">
    <div class="dropdown">
      <button class="btn btn-secondary btn-lg dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Menu
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" href="/">Home</a>
        <a class="dropdown-item" href="/about">About</a>
        <a class="dropdown-item" href="/contact">Contact</a>
      </div>
    </div>
  </div>  